.profile {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 120px;
  padding: 40px 0 50px;
}

@media screen and (max-width: 320px) {
  .profile {
    padding: 0 0 36px;
    justify-content: center;
  }
}
