.profile {
  display: flex;
  align-items: center;
  min-height: 120px;
  padding: 40px 0 50px;
}

@media screen and (max-width: 712px) {
  .profile {
    flex-direction: column;
    justify-content: center;
    padding: 20px 0;
  }
}

@media screen and (max-width: 400px) {
  .profile {
    padding: 0 0 36px;
  }
}
