.logo {
  background: url(../../images/header/logo.svg) center/contain no-repeat;
  width: 142px;
  height: 34px;
}

@media screen and (max-width: 425px) {
  .logo {
    width: 104px;
    height: 24px;
    margin-left: 27px;
  }
}
