.elements__like {
  background: url(../../../images/elements/like.svg) no-repeat;
  height: 19px;
  min-width: 22px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: opacity .3s ease-in;
  margin-left: 20px;
}

.elements__like:hover {
  opacity: .5;
}


